<app-navbar></app-navbar>
<div class="container my-5" >
    
    <h1 class="text-center">Login</h1>
    
   <div class="row">
    <div class="col-md-2.5"></div>
    <div class="col-md-2.5"></div>
  
<form>
       
    <label for="User name" >User name</label>
       <input  type="text" class="form-control" name="user" id="User name" placeholder="User name">
       <label for="Password">Password</label>
       <input type="password" class="form-control" name="password" id="Password"  placeholder="Password"><br>
       <button type="submit" class="btn btn-primary btn-block">Let me in</button>

    </form>
   </div>
</div>
<app-footer></app-footer>
