

.wrapper {
    min-height: 100vh;
    display: flex; }
    .wrapper .image-holder {
      width: 69.9%; }
    .wrapper .form-inner {
      width: 30.1%; }
  
.img {
    background: url("https://scontent.ftun1-1.fna.fbcdn.net/v/t31.0-0/p180x540/28071061_818903721630589_5367686700619905862_o.jpg?_nc_cat=102&_nc_sid=ca434c&_nc_ohc=oQRgtFEjBBsAX8hqNnd&_nc_ht=scontent.ftun1-1.fna&_nc_tp=6&oh=83ed2991033f9db1bfc9666685e1f0ce&oe=5EAB56D4") no-repeat;
    background-size: 10px;
background-position-x: left; }

    